<aside class="clients bg-light-gray">
    <div class="container">
        <div class="row text-center">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">낭랑 마케팅 클라이언트</h2>
                </div>
            </div>

            <span><img src="img/client/client1.png" class="img-centered img-client" alt=""></span>
            <span><img src="img/client/client2.png" class="img-centered img-client" alt=""></span>
            <span><img src="img/client/client3.png" class="img-centered img-client" alt=""></span>
            <span><img src="img/client/client4.png" class="img-centered img-client" alt=""></span>
            <span><img src="img/client/client5.png" class="img-centered img-client" alt=""></span>
            <span><img src="img/client/client6.png" class="img-centered img-client" alt=""></span>
            <span><img src="img/client/client7.png" class="img-centered img-client" alt=""></span>
            <span><img src="img/client/client8.png" class="img-centered img-client" alt=""></span>
            <span><img src="img/client/client9.png" class="img-centered img-client" alt=""></span>
            <span><img src="img/client/client10.png" class="img-centered img-client" alt=""></span>
            <span><img src="img/client/client11.png" class="img-centered img-client" alt=""></span>
            <span><img src="img/client/client12.png" class="img-centered img-client" alt=""></span>
        </div>
    </div>
</aside>