<section id="company" class="bg-light-gray">
    <div class="container">
        <div class="row text-center">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">회사소개</h2>
                </div>
            </div>
            <div>
                낭랑한 인재들이 모인 온/오프라인 종합광고대행사 낭랑,<br />온라인마케팅을 비롯하여 모바일광고, 옥외광고, 마케팅교육 등 다양한 영역을 진행하고 있습니다.<br />
                급격하게 변하는 광고 시장에, 차별화된 광고 기획력과 마케팅으로<br />믿고 맡길 수 있는 기업으로 성장하겠습니다.
            </div>
        </div>
    </div>
</section>