<!-- About Section -->
<section id="history">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">회사연혁</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="animatable img-circle img-responsive" data-animation="tada" src="img/about/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2013년</h4>
                                <div class="timeline-body">
                                    <p class="text-muted">온/오프라인 광고대행사 애드스톰 설립 외</p>
                                </div>                                
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="animatable img-circle img-responsive" data-animation="tada" src="img/about/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014년</h4>
                                <div class="timeline-body">
                                    <p class="text-muted">디자인 전문 여성기업 ‘봄날애’ MOU 체결</p>
                                    <p class="text-muted">네이버, 다음, 구글, 엔비스타 대대행사 계약 체결 외</p>
                                </div>                                    
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="animatable img-circle img-responsive" data-animation="tada" src="img/about/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015년</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">네이버 블로그 체크 프로그램 개발</p>
                                <p class="text-muted">장보고식자재마트, 코이파트너스, 우성크레인 외 30개 업체 공식 대행사 선정</p>
                                <p class="text-muted">인큐베이팅 사업진행 외</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="animatable img-circle img-responsive" data-animation="tada" src="img/about/4.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2016년</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">5월 낭랑으로 상호 변경</p>
                                <p class="text-muted">온라인 마케팅 교육 추진</p>
                                <p class="text-muted">온라인 통합 솔루션 이지셀러 MOU 체결</p>
                                <p class="text-muted">힐크레스트 온라인 광고 대행사 선정</p>
                                <p class="text-muted">휴먼케어기술센터 디자인 업체 선정</p>
                                <p class="text-muted">모바일 광고 플랫폼 개발 예정</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>What<br />is<br />Next?</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>