<section id="proposal">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">회사소개서 & 제안서 다운로드</h2>
            </div>
        </div>
        <div class="row text-center">
            |  회사소개서  |  온라인 마케팅 | 대중교통 광고 |  페이스북 광고 |  카카오스토리 채널 | 야구장 광고 |  유튜브 광고 | 영화관 스크린 광고 |  -  |
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted"></p>
            </div>
        </div>
    </div>
</section>