<section id="service" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">주요 서비스</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-internet-explorer fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">온라인 광고</h4>
                <p class="text-muted">타겟에 맞는 광고 노출,<br />타 광고에 비해 저렴한 광고비,<br />구매전환율 증대, 효과 분석가능,<br /><small>(검색마케터 자격증 1급 보유 마케터가 진행)</small></p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">모바일 광고</h4>
                <p class="text-muted">시/공간 제약없이 노출 가능, 파급력이<br />크므로 단시간에 빠른 브랜드 인지도 확립</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-street-view fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">오프라인 광고</h4>
                <p class="text-muted">지하철, 버스, 야구장 등 다양한 매체를 이용하여 노출 가능, 반복적으로 접하게 되므로 무의식적으로 브랜드가 인지 가능</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">바이럴 마케팅</h4>
                <p class="text-muted">입소문 광고기법으로, 특정 제품을 접해 본 네티즌들이 직접 홍보하는 방식, 신뢰도가 높고 파급력이 큼</p>
            </div>            
            <!--<div class="col-md-2"></div>
            {% for post in site.posts %}
            <div class="col-md-4 col-sm-6 portfolio-item" itemscope itemtype="http://schema.org/SoftwareApplication">
                <img src="img/service/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                <div class="portfolio-caption">
                    <h4 itemprop="name">{{ post.title }}</h4>
                    <link itemprop="applicationCategory" href="http://schema.org/MobileApplication" />
                    <p itemprop="description" class="text-muted">{{ post.description }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-2"></div>-->
        </div>
    </div>
</section>